*{
    margin: 0;
}
.background{
    background-image: url(./maxresdefault.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    display: flex;
    justify-content: space-around;

}
.item{
    padding-top: 30px;
}
#header{
    border: none;
    background-color: transparent;
    color: white;
}
#header:hover{
    background-color: lightgray;
    transition: 1s;
}
#yellow{
    width: 80px;
    color: yellow;
    color: yellow;
}
.header2{
    display: flex;
    padding-top: 150px;
}
#left{
    margin-left: 100px;
}
#midle{
    justify-content: center;
    margin-left: 200px;
}
.font{
    font-size: 80px;
}
.container{
    display: flex;
    justify-content: center;
}
.container1{
    display: flex;
    justify-content: center;
    background-image: url(./maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container3{
    display: flex;
    justify-content: center;
    background-image: url(./maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container4{
    display: flex;
    justify-content: space-around;
color: white;
padding-top: 110px;
    background-image: url(./maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    background-color: black;
}